body {
    margin: 0;
    padding: 0;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 263px;
    margin: auto;
    padding-top: 60px;
}
form h1 {
    font-family: "Playfair Display", serif;
    font-weight: 1000;
    font-style: oblique;
    text-align: center;
}
form input {
    width: 100%;
    padding: 7px;
    margin: 5px 0;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form input[type="submit"] {
    width: 40%;
    align-self: center;
    /* Center inside flex column */
    padding: 8px;
    cursor: pointer;
    font-size: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}
form p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: blue;
}
form p a{
    color:red;
    font-style: italic;
}
h1 i{
    margin-right: 8px;
    color: rgb(38, 190, 195);
}
nav {
    display: flex;
    justify-content: flex-start;
    padding: 6px 5%;
    background-color: #004c93;
    gap: 20px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px 15px;
    font-size: 20px;
    font-weight: 400;
    font-family: Lato, Lucida Sans Unicode, Lucida Grande, sans-serif;
}
nav img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}