body {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 60px;
    background-color: #f2f2f2;
    font-size: 22px;
    border: 2px solid #ccc;

}

.input-group i {
    margin-right: 10px;
    color: #004c93;
}

form h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
}

#btn_submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 19px;
}

#btn_submit:hover {
    background-color: #08300a;
}

input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

h1 i {
    color: burlywood;
    margin-right: 5px;
}

nav {
    display: flex;
    justify-content: flex-start;
    padding: 6px 5%;
    /* used % in order to make it responsive */
    background-color: #004c93;
    gap: 20px;
    align-items: center;
    /* vertically center items in the nav */
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px 15px;
    font-size: 20px;
    font-weight: 400;
    font-family: Lato, Lucida Sans Unicode, Lucida Grande, sans-serif;
}

nav img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}