form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 244px;
    margin: 81px auto auto;
}

input {
    width: 47%;
    padding: 7px;
    align-self: center;
    /* Center inside flex column */
    margin: 10px 0;
    font-size: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;

}

nav {
    display: flex;
    justify-content: flex-start;
    padding: 16px 740px;
    background-color: #004c93;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: Lato,Lucida Sans Unicode,Lucida Grande,sans-serif;
}